section.container{
    display: flex;
}
.container.row{
    flex-direction: row;
    align-items: center;
}
.container.column{
    flex-direction: column;
}
header ul {
    list-style-type: none;
    margin: 20;
    padding: 30;
    margin-left: 5%;
  }
header ul li {
    display: inline;
    padding-left: 10px;
  }
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    background-color: #373C3F;

}
#home{
    flex-wrap: wrap;
    background-color: #11ABBF;
    height: 90vh;
}
#file{
    background-color: #27212D;
    height: 40vh;
    justify-content: space-between;
}
#images{
    width: 100%;
    background-color: #5A0FA0;
    height: 70vh; 
}
#infos{
    flex-wrap: wrap;
    height: 50vh;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #EAEAEA;
}
.pink-button{
    background-color: #BC3184;
    width: 20%;
    height: inherit;
}
.purple-button{
    width: 33.33%;
    margin-left: 15%;
}
#site{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 17%;
    margin-bottom: 11%;
}
.subtitle{
    width: 80%;
    margin-left: 10%;
}
h1{
    width: 100%;
    margin-left: 10%;
    color: white;
    margin-right: 17%;
    margin-bottom: 0;
    font-size: 90px;
}
h2{
    color: gray;
    font-size: x-large;
}
h3{
    color: turquoise;
    font-size: larger;
}
#bonus{
    height: inherit;
    width: 33.33%;
}
#pink-arrow{
    height: 10vh;
    margin-top: 40%;
    margin-left: 40%;
}
@media screen and (max-width: 640px) {
    #images{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .purple-button{
        width: 100%;
        height: 40vh;
        margin-left: 90%;
        margin-top: 40%;
    }
    #bonus{
        width: 100%;
    }
    #site{
        margin-right: 15%;
    }
    #home{
        height: auto;
    }
    #file{
        height: auto;
    }
    #pink-arrow{
        margin-left: 20%;
        margin-bottom: 20%;
    }
    #extra{
        display: none;
    }
  }